@import url('header.css');

/* 메인배너 */
.main-banner img {
  width: 100%;
}
.main-banner {
  position: relative;
}
.main-banner .next-icon {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 10px;
  width: 30px;
  display: flex;
  justify-content:space-between;
}

/* 메인 상품 리스트 */
.inside {
  height: 60px;
}
.main-inner {
  width: 1200px;
  margin: auto;
  height: auto;
  position: relative;
  padding: 0 15px;
}
.item-title-area {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.title-area {
  color: #1b2389;
  display: flex;
  align-items: baseline;
}
.title-area h1 {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}
.more-btn {
  display: block;
  cursor: pointer;
  width: 100px;
  height: 32px;
  background-color: #1b2389;
  color: #fff;
  border-radius: 30px;
}
.best-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.best-item-list .best-item {
  display: flex;
  margin-bottom: 15px;
  padding: 0 7px;
}
.best-item-list .best-item a {
  position: relative;
}
.best-item-list .best-item img {
  width: 130px;
}
.best-item-list .best-item .hover-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.best-item-list .best-item a:hover .hover-img {
  opacity: 1;
  transition: all .4s;
}
.best-item-list .best-item-name {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  width: 190px;
  height: 130px;
  color: #1b2389;
  font-size: 15px;
}
.best-item-list .best-item-name p:first-child {
  font-weight: bold;
}
.all-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.all-item-list .all-item {
  padding: 0 7px;
  margin-bottom: 15px;
}
.all-item-list .all-item:nth-child(1) {
  padding-left: 0;
}
.all-item-list .all-item:nth-child(3n) {
  padding-right: 0;
}
.all-item-list .all-item img {
  width: 370px;
}
.all-item-list .all-item {
  position: relative;
}
.all-item-list .all-item a .hover-img {
  position: absolute;
  left: 7.5px;
  top: 0;
  opacity: 0;
}
.all-item-list .all-item a:hover .hover-img {
  opacity: 1;
  transition: all .4s;
}
.all-item-list .all-item .all-item-des {
  padding: 20px 0;
}
.all-item-list .all-item p {
  color: #212121;
  font-size: 11px;
  line-height: 1.7;
}
.all-item-list .all-item .best-box {
  background: #fff;
  color: #fb4637 ;
  border: 1px solid #ccc;
  width: 40px;
  text-align: center;
  font-size: 11px;
  margin: 5px 0;
}
.more-btn.all-item-btn {
  margin: 0 auto 15px;
}
.bg-img {
  max-width: 1280px;
  margin: 15px auto;
  height: 49px;
  background: url('../img/bg1.png');
}
.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review-list .review {
  width: 290px;
  height: 570px;
  border: 1px solid black;
  margin: 1px;
}
.review-list .review>img {
  width: 290px;
}
.review-list .review .review-content {
  padding: 20px;
  color: #1b2389;
}
.review-list .review .review-content p:first-child {
  font-size: 15px;
}
.review-list .review .review-content p:last-child {
  font-size: 12px;
  margin-top: 5px;
}
.review-list .review .review-user {
  padding: 0 20px 20px;
  display: flex;
}
.review-list .review .review-user>img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.review-list .review .review-user-name {
  line-height: 1.2;
  color: #1b2389;
  font-size: 12px;
}
.review-list .review .review-user-name img {
  width: 35px;
  height: 15px;
}
.review-list .review .review-user-name p:last-child {
  font-size: 11px;
}
.review-bottom::before {
  content: '';
  display: block;
  width: 250px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.review-bottom {
  width: 290px;
  position: relative;
  padding: 20px;
  display: flex;
  font-size: 12px;
  box-sizing: border-box;
  color: #1b2389;
}
.review-bottom img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.review-bottom .star {
  color: #FF472D;
  margin-top: 5px;
}
.media-video {
  width: auto;
  height: 514px;
  background: url('../img/media.png') no-repeat center / cover;
}
.sns-area {
  background: url('../img/insta-bg.png') no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sns-title {
  padding-top: 45px;
  margin-bottom: 30px;
  color: #1b2389;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sns-title h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.sns-list-container {
  width: 936px;
  height: 616x;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px 24px;
  padding: 12px;
  margin-bottom: 60px;
}

.sns-list-container img {
  width:100%;
}
.sns-list-container img:hover {
  opacity: 0;
  transition: all .4s;
}
.inside.sns-bottom {
  z-index: 1000;
  width: 100%;
  height: 52px;
  background: url('../img/insta-bottom.png') center / cover;
}
.sns-btn {
  margin-bottom: 30px;
}

footer {
  background-color: #1b2389;
  color: #fff;
  padding: 30px 0 150px;
  line-height: 1.5;
  font-size: 11px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer-menu div p:first-child{
  font-size: 14px;
  font-weight: 400;
}
.footer-menu .contact p:nth-child(5) {
  font-size: 14px;
  font-weight: 400;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(243, 243, 243);
}
.footer-info div:first-child {
  color: rgb(238, 238, 238);
}
.talkBtn {
  background: url("../img/talkbtn.png") no-repeat center / cover;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 30px;
  left: 15px;
}
.topBtn {
  width: 53px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #ccc;
  color: #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}