@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Philosopher:wght@400;700&display=swap');
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Philosopher', sans-serif; 
*/

body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fffef2;
}
.inner{
    width:1280px;
    margin: auto;
}

/* 헤더 */
.header-top {
    height: 170px;
    padding-top: 44px;
    box-sizing: border-box;
}
.header-top .inner {
    position: relative;
}
.header-top .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-top .logo a{
    display: block;
    width: 199px;
    height: 64px;
    background: url(../file/img/logo.png) no-repeat;
    text-indent: -9999px;
    font-size: 0;
}
.lang-area {
    width: 85px;
    height: 25px;
    line-height: 25px;
    float: left;
    background-color: #edeee2;
    color: #858181;
    font-size: 12px;
    margin-left: 14px;
    margin-top: 21px;
    text-transform: uppercase;
    position: relative;
}
.lang-area::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    background: url(../file/img/lang_bullet.png) no-repeat;
    top:10px;
    right:13px;
}
.lang-list li {
    height: 25px;
    background-color: #edeee2;
    line-height: 25px;
    padding-left: 17px;
}

.topmenu-area {
    float: right;
}
.top-search-area {
    float: left;
    width: 174px;
    height: 45px;
    background-color: #edeee2;
    border-radius: 24px;
    position: relative;
    margin-top: 8px;
}
.top-search-area #searchBox {
    border: none;
    height: 40px;
    width: 105px;
    margin-left: 26px;
    background-color: #edeee2;
    outline: none;
    margin-top: 2.5px;
}
.top-search-area label {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../file/img/search-btn.png) no-repeat;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    right: 24px;
    top: 9px;
}
.util-list {float: left;}
.util-list li {float:left;}
.util-list li>a {
    display: block;
    text-indent: -9999px;
    font-size: 0;
    margin-left: 42px; margin-top: 13px;}
.util-list .mypage {
    width: 38px;
    height: 38px;
    background: url(../file/img/mypage-icon.png) no-repeat;
}
.util-list .cart {
    width: 34px;
    height: 38px;
    background: url(../file/img/cart-icon.png) no-repeat center;
    margin-left: 49px;
}

.header-bottom {
    height: 50px;
    border-bottom: 1px solid #404040;
}
.header-bottom .inner {position: relative;}
.header-bottom #allMenuBtn {
    float:left;
    background: url(../file/img/allmenu-btn.png) no-repeat;
    width: 45px;
    height: 27px;
    text-indent: -9999px;
    font-size: 0;
    margin-left: 23px;
    border: none;
    cursor: pointer;
}
#allMenuBtn:hover ~ .allmenu-area {
    display: block;
}
.gnb {
    float: left;
    margin-left: 264px;
}
.gnb>li {
    margin-right: 97px;
    float: left;
}
.gnb>li>a {
    height:27px;
    line-height: 27px;
    font-size: 20px;
    font-weight: bold;
    color:#465a4f;
}
.allmenu-area {
    clear: both;
    position: absolute;
    left:0;
    top:51px;
    width: 100%;
    height: 358px;
    background: #fffef2;
    border: 1px solid #464646;
    border-top: none;
    display: none;
}
.allmenu-list .dep1 {
    float:left;
    border-right: 1px solid #464646;
    height: 358px;
}

.allmenu-list .dep1:nth-child(1) {width: 190px;}
.allmenu-list .dep1:nth-child(2) {width: 145px;}
.allmenu-list .dep1:nth-child(3) {width: 160px;}
.allmenu-list .dep1:nth-child(4) {width: 140px;}
.allmenu-list .dep1:nth-child(5) {width: 185px;}
.allmenu-list .dep1:nth-child(6) {width: 210px;}

.dep1>a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #465a4f;
    margin : 26px 0;
    padding-left: 28px;
    position: relative;
    text-indent: 20px;
}
.dep1>a::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #465a4f;
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
}

.dep2>li>a {
    display:block; 
    height: 28px; 
    padding-left: 50px;
    line-height: 28px;
    font-size: 13px;
    color: #404040;
}

.allmenu-list .dep2>li:hover>a {background-color: #465a4f; color:#fff;}




/* footer */

.footer-top {padding-top: 61px;}
.footer-top .top-btn {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../file/img/footer-top-btn.png) no-repeat; text-indent: -9999px; font-size: 0;
    cursor: pointer;
    margin: auto;
}
.footer-top p:nth-of-type(1) {
    font-size: 24px;
    color: #424242;
    margin-top: 40px;
}
.footer-top p:nth-of-type(2) {
    font-size: 20px;
    margin-top: 36px;
    color: #424242;
    margin-bottom: 36px;
}
.footer-top .mail-box {
    width: 604px;
}
.footer-top .mail-box input {
    float:left;
    font-size: 18px;
    border: none;
    height: 56px;
}
.footer-top .mail-box input[type='email'] {
    padding-left: 50px;
    width: 420px;
    background: #edeee2;
    outline: none;
    box-sizing: border-box;
}
.footer-top .mail-box input[type='submit'] {
    background-color: #ca886e;
    width: 184px;
    color: #fff;
}

/* placeholder 컬러 */
/* .footer-top .mail-box input[type='email']::placeholder {color: red;} */
/* .footer-top .mail-box input[type='email']::-ms-input-placeholder {color: red;} */

.footer-menu dl {
    float: left;
    width: 135px;
    margin-right: 210px;
    margin-top: 80px;
    text-align: center;
}
.footer-menu dl:last-child {margin-right: 0;}
.footer-menu dl dt a{
    display: block; height: 45px; color:#333; font-size: 20px; line-height: 45px; border-bottom: 2px solid #ca886e;
}
.footer-menu dl dd{margin-top: 22px;}
.footer-menu dl dd a {
    font-size: 16px;
    color: #6e6e6e;
    line-height: 45px;
}
.sns-area {
    width: 265px;
    height: 40px;
    margin: 71px auto 40px;
}
.sns-area .sns-list>li {
    float:left;
}
.sns-area .sns-list>li>a {
    display: block;
    width: 53px;
    height: 39px;
    text-indent: -9999px;
    font-size: 0;
}
.sns-area .sns-list>li:nth-of-type(1){background: url(../file/img/sns-in.png) no-repeat; background-position: center;}
.sns-area .sns-list>li:nth-of-type(2){background: url(../file/img/sns-tw.png) no-repeat; background-position: center;}
.sns-area .sns-list>li:nth-of-type(3){background: url(../file/img/sns-iin.png) no-repeat; background-position: center;}
.sns-area .sns-list>li:nth-of-type(4){background: url(../file/img/sns-p.png) no-repeat; background-position: center;}
.sns-area .sns-list>li:nth-of-type(5){background: url(../file/img/sns-naver.png) no-repeat; background-position: center;}

.footer-bottom {
    background: #181818;
    color: #bebebe;
    height: 103px;
    font-size: 14px;
    padding-top: 60px;
}
.footer-bottom .inner {
    width: 850px;
    margin: auto;
    text-align: center;
    line-height: 1.7;
}

.livechat {
    position: fixed; right: 40px; bottom: 190px;
    width: 115px; height: 115px; display: none;
}
.livechat .live-chat-btn {
    display: block; text-indent: -9999px; background: url(../file/img/chat-open-btn.png) no-repeat center top 36px #464646; width:115px; height: 115px; border-radius: 50%;
    cursor: pointer;
}

.livechat .chatbox {position: absolute; right:0; bottom:130px; width: 295px; height: 350px; border: 1px solid #464646; background-color: #fffef2;}

.chat-top-area {
    height: 45px; background-color: #38855d; color: #f1f1f1;font-size: 20px; text-align: center; line-height: 45px; position: relative;
}
.chat-top-area p::after {
    content: ''; display: block; width: 15px; height: 10px; background: url(../file/img/chat-bullte.png) no-repeat; position: absolute; right: 56px; top: 50%; transform: translateY(-30%);
}
.chat-mid-area {
    padding-left: 18px; padding-top: 13px; box-sizing: border-box; height: 247px;
}
.chat-mid-area>h2 {
    float: left;
}
.chat-txt {
    float: left;
    width: 200px;
    height: 247px;
    margin-left: 8px;
}
.chat-name {
    font-size: 20px;
    color: #469d70;
    margin-bottom: 5px;
}
.chat-content1 {
    font-size: 14px;
    line-height: 19px;
}
.chat-content2 {
    font-size: 12px;
    line-height: 19px;
}

.chat-input-area {
    padding-left: 18px;
}
.chat-input-area input {
    float: left;
    height: 35px;
    width: 198px;
    border: 1px solid #000;
    background: transparent;
    outline: none;
    padding-left: 10px;
    
}
.chat-input-area button {
    float: left;
    width: 60px;
    height: 37px;
    background-color: #469d70;
    color: #fffef2;
    font-size: 17px;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
}